.background {
    -fx-background-image: url("plateau.png");
}

.buttonJoueur{
    -fx-background-radius: 50%;
    -fx-background-color: gray;
    -fx-border-style: solid;
    -fx-border-radius: 50% ;
    -fx-border-width: 5px;
    -fx-border-color: black;
}
.relais{
    -fx-background-image: url("relais.jpg");
}
